body{

    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Jaldi-Bold', sans-serif;
    overflow-x: hidden;
}

/* 
    Header
*/

header{
    position: fixed;
    width: 100%;
    z-index: 10;

}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    padding: 10px 50px;
    background-color: #000000;
}

.lien{
    text-decoration: none;
    color: #ffffff;
    font-size:30px;
    font-weight: bold;
}

.page{
    padding: 5px 15px;
    box-shadow: -5px 5px 0px #ff0000; /* Correction du box-shadow */
}

.nav-bar a:hover{
    color: #ff0000;
}

.nav-bar img{
    height: 50px;
}

.boxshop{
    background-color: #ff0000;
    padding: 15px 20px;
    border-radius: 25px 0 25px 0;
    text-decoration: none;
    color: #ffffff;
    font-size:30px;
    font-weight: bold;
}

.boxshop:hover{
    background-color: #ffffff;
}



/*
    Schedule
*/
@keyframes typing {
    0% {
        width: 0;  
        opacity: 0.5; 
    }
    100% {
        width: 100%; 
        opacity: 1; 

    }
}

.titre {
    position: relative;
    height: 400px;
    width: 100%;
    background-image: url('/images/3214683-65848928-2560-1440.jpg');
    background-position: center;
    background-size: cover; 
    
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;

    display: flex;
    justify-content: center; 
    align-items: center; 
}

.titre h1 {
    overflow: hidden; 
    white-space: nowrap; 
    text-align: center; 
    animation: typing 3s steps(30) 0.4s forwards; 
    opacity: 0; 
}



/*
    section 1
*/

#section1{
    position: relative;
    margin-top: 40px;
    width: 100%;
    display: flex;    
}

.circuit{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
}

.circuit img{
    width: 80%;
}

.info{
    position: relative;
    width: 50%;
    
}

.info h2{
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}

.info p{
    font-size: 30px;
    color: #ffffff;
}
